<h1>Profile Page</h1>

{{!-- Display User Information --}}
<p>First name: {{user.first_name}}, Last name: {{user.last_name}}</p>
<img src={{user.image_24}}>
{{!-- Display a link to logout --}}
<p><a href="/profile/logout">Log Out</a></p>
